<section>
  <a href="/dashboard"> &larr; Back to home</a>
  <h2>
    Modify Article
  </h2>
  <form class="modify-article-form">
    <div>
      <h3>Title</h3>
      <input name="article-title" type="text" value="{{article.title}}" />
      </br>
      <h3>Content</h3>
      <input name="article-content" type="text" value="{{article.article_content}}" />
      {{!-- <span>{{article.article_content}}</span> --}}
    </div>
    <div>
      Authored by you on {{format_date article.createdAt}}
      |
      <a href="/article/{{article.id}}">{{article.comments.length}} {{format_plural "comment" article.comments.length}}</a>
    </div>
    <button type="submit">Save changes</button>
    <button type="button" class="delete-article-btn">Delete article</button>
  </form>
</section>

<form class="add-comment-form">
  <div>
    <textarea name="comment-text"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{> display-comments article.comments}}

<script src="../public/js/edit-post.js"></script>
<script src="../public/js/delete-post.js"></script>
<script src="../public/js/comment.js"></script>