{{ layouts/main}}

<section id="workouts" class="content-section">
    <h2>Workouts</h2>
    <div class="workout-list">
        {{#each workouts as |workout|}}
        <div class="workout-card" onclick="openModal('{{workout.title}}', '{{workout.description}}', '{{workout.duration}}', '{{workout.difficulty}}')">
            <h3>{{workout.title}}</h3>
            <p>{{workout.description}}</p>
            <p>Duration: {{workout.duration}}, Difficulty: {{workout.difficulty}}</p>
        </div>
        {{/each}}
    </div>
</section>